      <!-- Header Content -->
 
        <div class="row">
 
          <div class="large-6 columns">
 
            <img src="http://placehold.it/500x500&text=Image"><br>
 
          </div>
 
 
          <div class="large-6 columns">
 
            <h3 class="show-for-small">Header<hr/></h3>
 
            <div class="panel">
              <h4 class="hide-for-small">Header<hr/></h4>
            <h5 class="subheader">Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros. Pellentesque consectetur tempus mi iaculis bibendum. Ut vel dolor sed eros tincidunt volutpat ac eget leo.</h5>
            </div>
 
          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
 
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>
 
          </div>
 
        </div>
 
      <!-- End Header Content -->
 
 
      <!-- Vmesnik -->
 
        <div class="vmesnik">
        </div>
 
      <!-- End Vmesnik -->
 
 
      <!-- Blog -->
 
       <div class="row blog_domov">
          <img src="assets/body_blog.png" alt="">
                <% for blog in @blogs %>              
                  <div class="large-12 small-10">
                    <div class="panel_for_blog">
                     <h3><%= blog.naslov %></h3>
                     <p><%= truncate(strip_tags(blog.opis), length: 100) %></p>
                     <%= blog.created_at.strftime('%I:%M %b %d, %Y') %>
                    </div>
                  </div>
                 <% end %>
                    <%= link_to "Nov post", new_blog_path %>
 
        </div>
 
      <!-- End Blog -->
