/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

nav.top-bar{
	position: relative;
	background: url(header_bg.png)100% 0 no-repeat,url(header_bg2.png);
	box-shadow:0 5px 5px #2a2a2a;

	img:first-child {
		position: absolute;
		left: 0;
	}
	img:last-of-type{
		position: absolute;
		left: 0;
		display: none;
	}
}

.content{

	overflow: scroll;
	margin-bottom:130px;
}

footer{
	position: relative;
	background: #fefffd;
	width: 100%;
	height: 100px;
	
	img{
		position: absolute;
		top: -120px;
	}
	.footer-logo{
		position: absolute;
		left: 80%;
		top: 15%;
	}
}
