/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

// main page load
// header,#player,#sc-widget,.eventi,.blog_domov{
// 	display: none;
// }

.header_finish{
	margin-top: 0;
	transition: all 1s linear;
}
#player{
	display:none;
}
#sc-widget{
	margin-left: 1000%;
}
.soundcloud_starter{
	margin-left: -10%;
}

// end main page load

// nav animation
.levo{
	float: left;
}
.fixed{
	position: fixed;
	margin-top:0;
}
// end nav animation

.admin{
	width: 100%;
	height: 35px;
	position: fixed;
	background: #2683a1;
	z-index: 1;
}

header{
	margin-top: -15%;
	width: 100%;
	height: 145px;
	position: relative;
	background: url(header_bg.png)no-repeat,url(header_bg2.png);
	box-shadow:0 5px 5px #2a2a2a;

	img:first-child {
		position: absolute;
		left: 0;
	}
	.logo_yellow{
		position: absolute;
		left: 0;
		display: none;
	}
	img:last-of-type{
		position: absolute;
		left: 0;
		display: none;
	}
	nav {
		ul{
		position: absolute;
		margin-top: 12%;
		list-style: none;
		}

	}
	#login{
		position: absolute;
		top: 85%;
		left: 15%;
	}
}

.content{
	min-height: 280px;
	margin-top:4%;
	margin-bottom:130px;
}

footer{
	position: relative;
	background: url(footer_bg_color.png)100% 0 ;
	width: 100%;
	height: 100px;
	display: none;
	.footer_bg{
		position: absolute;
		bottom: 10%;
	}
	.spletko{
		position: absolute;
		right: 1%;
		top: 15%;
		display: none;

	}
	.rails{
		position: absolute;
		right:-15%;
		top: 65%;
		width: 80px;
		height: 30px;
	}
}
