// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blogs{
}
.blog{
	background:red;
	margin: 0 auto;
	width: 50%;
	overflow: scroll;
}