// Place all the styles related to the domov controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test {
	z-index: 1;
}
.vmesnik{
	width: 100%;
	height: 230px;
}
.blog{
	background:#6c6c6c;
	position: relative;

	img{
		position: absolute;
		z-index: 1;
		left: 0px;
		top:-240px;

	}
	.panel_for_blog{
		width: 75%;
		background:#d5d5d5;
		border-radius: 5px;
		margin-left: 13%;
	}
}