// Place all the styles related to the domov controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventi{
	height: 250px;
	overflow: scroll;

	.sredina_eventi{
		width: 100%;
		height: 50px;

		h4{
			text-align: center;
			border-bottom: dotted;
		}
	}
	.list_events{
		border-bottom: 1px solid black;
		border-top: 1px solid black;
	}
}
.vmesni_razmak{
	margin-bottom:4%;
}
.vmesnik{
	width: 100%;
	height: 230px;
}
.blog_domov{
	background:url(body_blog_bg.png)40% 10% no-repeat;
	position: relative;
	padding-top: 4%;
	padding-bottom: 4%;


	img{
		position: absolute;
		z-index: 1;
		bottom:83%;

	}
	.panel_for_blog{
		width: 65%;
		margin-left: 19%;

		.datum{
			margin-left:70%;
		}
	}
}

// bio
#bio{
	z-index: 2;
}
.bio_first{
	position: relative;
	overflow: hidden;	
	img:first-child{

	}
	img:last-child{
		position: absolute;
		left: -75%;
	}
}
.bio_second{
	position: relative;
	overflow: hidden;
	img:first-child{
		margin-left: 10%;
	}
	img:last-child{
		position: absolute;
		top: 0;
		right: -97%;

	}
}
.bio_third{
	position: relative;
	overflow: hidden;
	img:first-child{

	}
	img:last-child{
		position: absolute;
		top: -100%;
		left:0;
	}
}
// galerija 

#galerija{
	position: relative;
	.sredina_g{
		left: 7%;
		position: relative;
	.razmak{
		margin: 5px;
	}
		.fb_galerija{
			width: 350px;
			height: 200px;
		}
	}
}

