// Place all the styles related to the domov controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test {
	z-index: 1;
}
.vmesnik{
	width: 100%;
	height: 230px;
}
.blog_domov{
	background:url(body_blog_bg.png)40% 10% no-repeat;
	border-radius: 28% 25% 5% 5%;
	position: relative;
	padding-top: 2%;
	padding-bottom: 2%;


	img{
		position: absolute;
		z-index: 1;
		bottom:83%;

	}
	.panel_for_blog{
		width: 65%;
		border-radius: 5px;
		margin-left: 19%;
		margin-bottom: 1%;
	}
}